@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* COMMON */
:root {
  --TEXT_SAMLL: 14px;
  --TEXT_MEDIUM: 22px;
  --TEXT_LARGE: 28px;
  --TEXT_EXTRA_LARGE: 32px;

  --WEIGHT_LIGHT: 300;
  --WEIGHT_NORMAL: 500;
  --WEIGHT_BOLD: 700;
  --WEIGHT_EXTRA_BOLD: 900;

  --BACKGROUND: #343440;
  --TEXT: #f5f5f5;
  --TEXT_SECONDARY: #aeaeae;
  --PRIMARY: #484a61;
  --SECONDARY: #727ba4;
  --ACCENT: #7eb7d0;

  --BORDER_RADIUS: 10px;
}

html, body {
  height: 100%;
  background-color: var(--BACKGROUND);
  color: var(--TEXT);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  overflow: scroll;
}

#homeDiv,
#loginDiv,
#signUpDiv,
#createPostDiv,
#postDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(130, 130, 130);
  background-color: transparent;
  font-size: var(--TEXT_SMALL);
  color: var(--TEXT);
  outline-color: transparent;
}

button {
  border-radius: 4px;
  border: none;
  background-color: var(--ACCENT);
  color: var(--BACKGROUND);
  padding: 4px 16px;
}

button:hover {
  opacity: 0.8;
}

/* ENTRY */
.entry-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  background-color: var(--PRIMARY);
  box-sizing: border-box;
  padding: 0 3rem 1rem;
  width: max(40%, 500px);
  border-radius: var(--BORDER_RADIUS);
}

.form-type {
  width: calc(100% + 6rem);
  border-radius: var(--BORDER_RADIUS) var(--BORDER_RADIUS) 0 0;
  background-color: var(--SECONDARY);
  text-align: center;
  font-size: var(--TEXT_MEDIUM);
  font-weight: var(--WEIGHT_NORMAL);
  padding: 0.5rem 0;
}

.form-container {
  width: 100%;
}

.authentification-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  font-size: var(--TEXT_SMALL);
}

.password-match {
  margin-left: 10px;
  font-size: var(--TEXT_SAMLL);
  color: rgb(255, 45, 45);
  font-style: italic;
}

.authentification-form button {
  background-image: url("../js/assets/lock.svg");
  background-position: 4px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.authentification-form button:hover {
  opacity: 0.8;
}

.switch-form-txt {
  font-style: italic;
  color: var(--TEXT);
  margin-bottom: -25px;
}

.switch-form-btn {
  border: none;
  background-color: transparent;
  font-size: var(--TEXT_SAMLL);
  color: var(--ACCENT);
  padding: 0;
}

.switch-form-btn:hover {
  /* border: none;
  background-color: transparent;
  font-size: var(--TEXT_SAMLL);
  color: var(--ACCENT); */
  opacity: 0.8;
}

/* NAV BAR */
#nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(var(--BACKGROUND), var(--PRIMARY));
  padding: 0 1rem;
}

#nav-bar-home-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#nav-bar-home-container img {
  width: 70px;
  height: 70px;
}

#nav-bar-home-container div {
  font-weight: var(--WEIGHT_BOLD);
}

#nav-bar-user-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: 0.1fr 1fr; */
  grid-template-areas:
    "pfp username username"
    "pfp handle logout";
}

#nav-bar-user-container img {
  grid-area: pfp;
  margin-right: 20px;
}

#nav-bar-user-container .username {
  grid-area: username;
  font-weight: var(--WEIGHT_NORMAL);
  font-size: var(--TEXT_MEDIUM);

}

#nav-bar-user-container .handle {
  grid-area: handle;
  font-weight: var(--WEIGHT_LIGHT);
  font-size: var(--TEXT_SAMLL);
}

#log-out-btn {
  grid-area: logout;
  font-size: 10px;
  padding: 0 4px;
  margin-left: 0.5rem;
}

#search-bar {
  width: 40%;
}

#search-bar input {
  background-image: url("../js/assets/search.svg");
  background-position: 8px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

/* Home Page */
#home-page-container {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  display: grid;
  padding-top: 6rem;
  gap: 2rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "topics posts activities";
}

#topics-container,
#contents-container,
#recent-activity-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#topics-container {
  grid-area: topics;
}

#contents-container {
  grid-area: posts;
}

#recent-activity-container {
  grid-area: activities;
}

/* BROWSE TOPICS */

#topics-container div {
  text-align: center;
}

.section-title {
  color: var(--TEXT_SECONDARY);
  font-size: var(--TEXT_MEDIUM);
  margin-bottom: 1rem;
}

.topic-entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.topic-name {
  color: var(--TEXT);
}

.topic-num-posts {
  color: var(--TEXT);
  border-radius: 2px;
  font-size: var(--TEXT_SAMLL);
  background-color: var(--PRIMARY);
  width: 20px;
  height: 20px;
}

.topic-entry:hover .topic-name,
.topic-entry:hover .topic-num-posts {
  cursor: pointer;
  color: var(--TEXT_SECONDARY);
}

/* HOME CONTENTS */
#contents-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

#content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

#content-header div {
  font-size: var(--TEXT_MEDIUM);
  font-style: italic;
}

#content-header button {
  background-color: var(--ACCENT);
  border: none;
  border-radius: var(--BORDER_RADIUS);
  padding: 4px 16px;
  color: var(--BACKGROUND);
  cursor: pointer;
}

#content-header button:hover {
  opacity: 0.7;
}

#post-box-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  overflow-y: scroll;
}

.post-box {
  background-color: var(--PRIMARY);
  width: 100%;
  border-radius: var(--BORDER_RADIUS);
  padding: 16px;
}

.post-box:hover {
  opacity: 0.8;
  cursor: pointer;
}

.post-box-info {
  display: grid;
  grid-template-columns: 0.7fr 7fr 1.5fr;
  grid-template-rows: repeat(1fr, 3);
  align-items: center;
}

.post-box-author-pfp {
  width: 35px;
  height: 35px;
  margin-right: 16px;
  background-color: var(--BACKGROUND);
  border-radius: 50%;
  border: 2px solid rgb(51, 51, 51);
}

.post-box-timestamp {
  color: var(--TEXT_SECONDARY);
  font-style: italic;
  font-size: var(--TEXT_SAMLL);
}

.post-box-title {
  font-weight: var(--WEIGHT_BOLD);
  font-size: calc(var(--TEXT_LARGE) - 4px);
}

.post-box-content {
  color: var(--TEXT_SECONDARY);
  font-size: var(--TEXT_SMALL);
  border-bottom: 1px solid var(--TEXT_SECONDARY);
  padding-bottom: 8px;
}

.post-box-topic {
  padding-top: 8px;
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--ACCENT);
  font-style: italic;
}

/* Create Post */
#create-post-container {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-post-form div{
  margin-top: 1rem;
}

#post-content-input {
  resize: none;
  width: 60vw;
  height: 250px;
  padding: 4px 8px;
  border-radius: var(--BORDER_RADIUS);
  background-color: transparent;
  color: var(--TEXT);
}

#sumbit-post-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

/*
<form className="form">
<div id="email-input" className="input-group">
    <label>Topic: </label>
    <input name="topic" id="topic-input" placeholder="general" ref={topicRef} />
</div>

<div id="password-input" className="input-group">
    <label>Title: </label>
    <input name="title" id="post-title-input" ref={titleRef} />
</div>

<div id="password-input" className="input-group">
    <label>Content: </label>
    <textarea name="content-text" id="post-content-input" ref={contentRef} />
</div>

<div id="sumbit-post-container">
  <button onClick={() => navigateTo(HOME_URL)}>Cancel</button>
  <button onClick={() => createPost()}>Post</button>
</div>
</form> */