@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* COMMON */
:root {
  --TEXT_SAMLL: 14px;
  --TEXT_MEDIUM: 22px;
  --TEXT_LARGE: 28px;
  --TEXT_EXTRA_LARGE: 32px;

  --WEIGHT_LIGHT: 300;
  --WEIGHT_NORMAL: 500;
  --WEIGHT_BOLD: 700;
  --WEIGHT_EXTRA_BOLD: 900;

  --BACKGROUND: #343440;
  --TEXT: #f5f5f5;
  --PRIMARY: #484a61;
  --SECONDARY: #727ba4;
  --ACCENT: #7eb7d0;

  --BORDER_RADIUS: 10px;
}

html, body {
  height: 100%;
  background-color: var(--BACKGROUND);
  color: var(--TEXT);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

#homeDiv,
#loginDiv,
#signUpDiv,
#createPostDiv,
#postDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SIGN UP */
.entry-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--PRIMARY);
  box-sizing: border-box;
  padding: 0 3rem 1rem;
  width: max(40%, 500px);
  border-radius: var(--BORDER_RADIUS);
}

.form-type {
  width: calc(100% + 6rem);
  border-radius: var(--BORDER_RADIUS) var(--BORDER_RADIUS) 0 0;
  background-color: var(--SECONDARY);
  text-align: center;
  font-size: var(--TEXT_MEDIUM);
  font-weight: var(--WEIGHT_NORMAL);
  padding: 0.5rem 0;
}

.form-container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  font-size: var(--TEXT_SMALL);
}

input {
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(130, 130, 130);
  background-color: transparent;
  font-size: var(--TEXT_SMALL);
  color: var(--TEXT);
  outline-color: transparent;
}

.password-match {
  margin-left: 10px;
  font-size: var(--TEXT_SAMLL);
  color: rgb(255, 45, 45);
  font-style: italic;
}

